* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  height: 300vh;
}

button {
  font-family: 'Amatic SC', cursive;
}

.starting-page {
  height: 100vh;
  background-image: url(../Image/Landing-Page.jpg);
  background-position: center;
  position: relative;
}

.starting-page__button {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 40px;
}

.customization {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../image/BackGround_2nd_Page.jpg);
}

.customization__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: rgba(0, 0, 0, 0.6);
}

.customization__dropdown {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  height: 33vh;
  margin: 100px auto;
  line-height: calc(33vh - 200px);
}

.customization__dropdown__label {
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  color: #969696;
}

.customization__dropdown__options {
  display: inline-block;
  background-color: rgba(150, 150, 150, 0.8);
  border: 2px solid black;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
}

.customization__container-image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.customization__image {
  display: block;
  height: 500px;
  margin: 50px auto 0;
}

.customization__stats {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 30px 0;
}

.customization__stats__attributes {
  width: 200px;
  height: 40px;
  margin: 5px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: #969696;
}

.customization__start {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.customization__start__button {
  display: block;
  margin: 20px auto 0;
  width: 200px;
  height: 50px;
  background-color: rgba(150, 150, 150, 0.8);
  border: 4px solid black;
  font-size: 30px;
  font-weight: bold;
}

.game {
  height: 100vh;
  background-image: url(../image/Arena.jpg);
  background-position: center;
}

.game__container {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.game__container__hero {
  position: absolute;
  bottom: 25%;
  left: 5%;
}

.game__container__hero__bars {
  width: 50%;
  margin: 0 auto 20px;
}

.game__container__hero__bars__hp {
  text-align: center;
  line-height: 20px;
  height: 20px;
  width: 100%;
  border: 1px solid #EDAB23;
  background-color: #6AB55D;
}

.game__container__hero__bars__mana {
  text-align: center;
  line-height: 20px;
  height: 20px;
  width: 100%;
  border: 1px solid #EDAB23;
  background-color: #3E89C7;
}

.game__container__hero__image {
  height: 450px;
}

.game__container__monster {
  position: absolute;
  bottom: 25%;
  right: 10%;
}

.game__container__monster__bars {
  width: 50%;
  margin: 0 auto 20px;
}

.game__container__monster__bars__hp {
  text-align: center;
  line-height: 20px;
  height: 20px;
  width: 100%;
  border: 1px solid #EDAB23;
  background-color: #6AB55D;
}

.game__container__monster__bars__mana {
  text-align: center;
  line-height: 20px;
  height: 20px;
  width: 100%;
  border: 1px solid #EDAB23;
  background-color: #3E89C7;
}

.game__container__monster__image {
  height: 500px;
}

.game__container__panel {
  position: absolute;
  width: 50%;
  height: 200px;
  bottom: 0px;
  border: black 5px solid;
  background-image: url(../image/BackGround_2nd_Page.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  left: 0%;
}

.game__container__panel__attack, .game__container__panel__defense, .game__container__panel__special, .game__container__panel__pass {
  height: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  text-align: center;
  line-height: 95px;
  border: 1px solid grey;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.game__container__panel__attack:hover, .game__container__panel__defense:hover, .game__container__panel__special:hover, .game__container__panel__pass:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.game__container__combat-text {
  position: absolute;
  width: 50%;
  height: 200px;
  bottom: 0px;
  border: black 5px solid;
  background-image: url(../image/BackGround_2nd_Page.jpg);
  left: 50%;
  overflow: auto;
}

.game__container__combat-text > span {
  display: block;
  margin: 10px 10px 10px 20px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  font-size: 45px;
}
/*# sourceMappingURL=style.css.map */