@mixin bars() {
    width: 50%;
    margin: 0 auto 20px;
}


@mixin HpManaBars() {
    text-align: center;
    line-height: 20px;
    height: 20px;
    width: 100%;
    border: 1px solid #EDAB23;
}

@mixin panel() {
    position: absolute;
    width: 50%;
    height: 200px;
    bottom: 0px;
    border: black 5px solid;
    background-image: url(../image/BackGround_2nd_Page.jpg);
}

@mixin panelButton() {
    height: 50%;
    flex-basis: 50%;
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    text-align: center;
    line-height: 95px;
    border: 1px solid grey;
    cursor: pointer;
    transition: 0.2s;
}